<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="">ScienceCenter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Home</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink]="['/tasks']">Tasks</a>
      </li>
      <li class="nav-item dropdown active">
        <a *ngIf="isLoggedIn" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Magazines
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link" [routerLink]="['/magazines']">All magazines</a>
          <a *ngIf="role==='ROLE_EDITOR'" class="dropdown-item nav-link" [routerLink]="['/magazine/new']">Add a new magazine</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a *ngIf="role==='ROLE_AUTHOR'"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Papers
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item nav-link" [routerLink]="['/paper/new']">Add a new paper</a>
        </div>
      </li>
      <li *ngIf="role==='ROLE_ADMINISTRATOR'" class="nav-item active">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink]="['/login']">Sign in</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item active">
        <a class="nav-link" [routerLink]="['/register']">Sign up</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item active">
        <a type="button" (click)="logOut()" class="btn btn-outline-light">Log out</a>
      </li>
    </ul>
  </div>
</nav>
