<div style="margin-top: 100px; margin-bottom: 10px;" class="container">
  <div class="row">
    <div class="col-12 m-auto">
      <div class="reg-title">
        <h2>Magazines</h2>
        <hr>
        <h4 *ngIf="magazines.length===0">There are no magazines available at the moment.</h4>

        <div *ngIf="magazines.length!==0" class="row">
          <div class="col-4" *ngFor="let magazine of magazines" >
            <div class="card border-secondary mb-3">
              <div class="card-header">
                <h4>
                  <a [routerLink]="['/magazine', magazine.id]">{{magazine.name}}</a>
                  <span style="float: right">
                    <a type="button" (click)="addToCart(magazine)"><i class="fas fa-shopping-cart"></i></a> <a type="button" (click)="subscribe(magazine)" class="ml-3"><i class="fab fa-paypal"></i></a>
                  </span>
                </h4>
              </div>
              <div class="card-body text-secondary">
                <p>
                  Scientific areas: <br>
                  <span class="ml-3" *ngFor="let area of magazine.scientificAreas; index as i">
                    {{i+1}}. {{area.name}} <span *ngIf="i < (magazine.scientificAreas.length-1)"><br></span>
                  </span>
                </p>
              </div>
              <div class="card-footer text-center text-muted">ISSN: {{magazine.issn}}</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
